body{
	margin:0;
	padding:0;
	background-color:#EDEEF0;
	min-width:960px;
	width:100%;
}

header{
	position: fixed;
	width:100%;
	height:52px;
	background-color:#b9d3dd;
	font-family:blogger, Arial, serif;
}

.placeholder_style::-webkit-input-placeholder{
	color:#91979A;
	font-family:blogger, Arial, serif;
	padding-left:10px;
}

.header{
	background-image:url(../../images/SPA/header_bg.png);
	background-position:fixed;
	width:100%;
	height:52px;
}

.subheader{
	background-image:url(../../images/SPA/subheader_bg.png);
	background-position:fixed;
	width:100%;
	height:52px;
	background-repeat:no-repeat;
	background-position:102% 0%;
	opacity:0.7;
}

.logo{
	float:left;
	width:20%;
	height:52px;
	background-image:url(../../images/);
}

.search_block{
	float:left;
	background-position:30% 50%;
	width:290px;
	height:30px;
	padding-top:11px;
	margin-left:5%;
	margin-bottom:20px;
}

.search_field{
	margin-left:0%;
	padding-top:0px;
	background-image:url(../../images/SPA/search_field.png);
	background-repeat:no-repeat;
	background-position:0 0px;
	height:30px;
	width:280px;
}

#search_button{
	margin-left:-30px;
	margin-top:5px;
}

#search_input{
	float:left;
}

a:visited{
	color:#3F8CB8;
	text-decoration:none;
}

a:-webkit-any-link{
	color:#3F8CB8;
	cursor: pointer;
	text-decoration: none;
}

input[type="text"]{
	vertical-align:middle;
	font-size:20px;
	height:30px;
	width:280px;
	border:none;
	background:none;
}

input[type="text"]:focus{
	background-color:#f1f2f6;
	outline: none;
	border-radius:1px;
	border: 1px solid #90C7DD;
	border-width:0 0 1px 0;
}

input[type="image"]:focus{
	outline: none;
	border-width:0 0 0 0;
}

.right_column{
	float:right;
	margin-top:15px;
	margin-right:20px;
}

.options_block{
	float:right;
	margin-right:20px;
}

.signOut_block{
	clear:both;
	float:right;
}

a.right_top{
	text-decoration:none;
	font-size:20px;
	color:#48A1D4;
}

a.right_top:hover{
	text-decoration:underline;
}

.clear{
	clear:both;
}

.wrapper{
	width:70%;
	height:100vh;
	margin:0 15%;
	font-family:robotothin,rubikregular,blogger, Arial, serif;
	min-width:70%;
}

.left_sidebar_ul{
	padding-left:9px;
	margin-top:0;
}

/*.leftSidebar{
	width:18%;
	height:100vh;
	padding-top:5px;
	float:left;
}*/

.leftSidebar{
	position: fixed;
	width:18%;
	height:100vh;
	padding-top:5px;
	margin-top: 5%;
	/* background-color:white; */
	float:left;
}

.left_sidebar_ul{
	border-left: 1px solid #dfe2e8;
	list-style-type:none;
	font-size:20px;
}

.left_sidebar_ul li{
	margin-bottom:12px;
}

.left_sidebar_ul a{
	text-decoration:none;
	font-size:20px;
	color:#3F8CB8;
}

a#plus {
	margin-left: 8px;
	border: 1px solid #405284;
	padding: 0 5px;
	border-radius: 6px;
}

.middle_content{
	margin-left:20%;
	width:70%;
	padding-top: 7%;
	font-family: robotothin,rubikregular,blogger, Arial, serif;
}

.search_field_large{
	margin-left:0%;
	padding-top:0px;
	background-color:#DFE4EB;
	height:45px;
	margin-bottom:5px;
	width:100%;
}

#search_button_large{
	margin-left:-30px;
	margin-top:10px;
}

#search_input_large{
	float:left;
	width:100%;
	padding:0;
	height:45px;
}

.dialog_block{
	width:100%;
	height:88px;
	background-color:white;
	position:relative;
	border-bottom:1px solid #DFE2E8;
}

.dialog_block:hover{
	width:100%;
	height:88px;
	background-color: #90C7DD;
	position:relative;
	border-bottom:1px solid #DFE2E8;
}

.avatar_block{
	width:30%;
	height:100%;
	position:absolute;
	display: flex;
	overflow: hidden;
}

.avatar_block img{
	margin: auto;
	margin-left: 5%;
	margin-right: 5%;
	max-width: 98%;
	max-height: 98%;
	transform: scale(1,1);
	transition: 0.3s ease;
}

.profile_photo{
	max-width: 30%;
	max-height: 80px;
	min-height:40px;
	padding:5px 0 5px 5px;
}



.profile_block{
	background-color:white;
	float:left;
	width:100%;
	margin-bottom:5px;
	position:relative;
	border:1px solid #DFE2E8;
	min-height: 40px;
}



.profile_name_link{
	text-decoration: none;
	color: #3F8CB8;
	word-wrap: break-word;
	position: absolute;
	left: 15%;
	right: 0;
	width: 70%;
	height: 100%;
	/*  margin: -15% 0 0 -25%; */
}

.profile_name{
	position: absolute;
	width: 110%;
	height: 100%;
	padding-left: 2%;
}

/* Имя */
.sub1{
	margin-top:0%;
	font-size:20px;
	color: black;
	font-weight: bold;
}
/* Текст последнего сообщения */
.sub2{
	margin-top: 2%;
	color: gray;
	font-size:16px;
}

.dialog_block .sub2{
	white-space: nowrap; /* Запрещаем перенос строк */
	overflow: hidden; /* Обрезаем все, что не помещается в область */
	text-overflow: ellipsis;
}

/* Подсказка о том, что кто-то набирает сообщение */
.sub3{

}

.just{

}

#body .unread{
	background-color: #d7d7f7;
}

.profile_name .date{
	position: absolute;
	right: -5%;
	top: 10%;
}


/* ----------------------------------------------- CSS из CURRENT_DIALOG ------------------------------- */

.middle_content_current_dialog{
	padding-top: 12%;
	margin-left:20%;
	width:60%;
	font-family: robotothin,rubikregular,blogger, Arial, serif;
}


.profile_block_current_dialog{
	background-color: white;
	float: left;
	width: 42%;
	position: fixed;
	border:1px solid #DFE2E8;
	border-bottom-color:#3F8CB8;
	min-height: 40px;
	margin-top: -4.6%;
}

.profile_photo_current_dialog{
	float:left;
	max-width: 30%;
	height: 50px;
	padding:5px 0 5px 5px;
}

.profile_name_link_current_dialog{
	text-decoration: none;
	font-family: Arial, serif;
	font-size: 16px;
	color: #3F8CB8;
	word-wrap: break-word;
	position: absolute;
	top: 35%;
	left: 0%;
	max-height: 85%;
	width: 90%;
	/*  margin: -15% 0 0 -25%; */
}

.profile_name_current_dialog{
	position:absolute;
	margin-left:10%;
	width:90%;
	height:100%;
	text-align:center;
	/* padding:5px  10px 5px 0 ; */
}

.sub1_current_dialog{
	position:relative;
	height:100%;
	width:100%;
}

.dialog_history_current_dialog{
	border:1px solid #DFE2E8;
	border-top:0;
	border-bottom:0;
	float:left;
	width:100%;
}

.message_current_dialog, .message_current_dialog:hover{
	min-height: 70px;
	background-color:white;
	border:1px solid #DFE2E8;
	border-radius: 10px;
}

.message_current_dialog:hover{
	background-color: #90C7DD; /* #d7d7f7 */
	cursor: pointer;
}

#photo_space{
	height:0%;
	float:left;
	width:8%;
	padding: 10px 5px 0 5px;
}

.message_text_current_dialog{
	margin-left:10%;
	margin-right: 1%;
	margin-top: 4.4%;
	font-size:13px;
	word-wrap:break-word;
}

.date_current_dialog{
	font-size: 90%;
	margin-bottom: 0%;
	margin-top: 1%;
	margin-right: 5%;
	float: right;
}

#avat{
	max-height: 50px;
	max-width: 100%;
}

.typing_block_current_dialog{
	float:left;
	width:100%;
	position:relative;
}

#textar {
	outline: none;
	width: 90%;
	/*   height: 50px; */
	padding: 0;
	resize: none;
	overflow: auto;
	border-radius: 10px;

	min-height: 40px;
	font-size: 13px;
	color: #444;
	padding: 5px 5px 5px 5px;

}

#send {
	margin: 0;
	padding: 0;
	height: 52px;
	width: 8%;
	position: absolute;
	right: -2px;
	bottom: 5px;
	background-color:#CFE1E1;
	border:1px solid black;
	border-radius: 10px;
}